oda-node-red-chatbot.txt
[{"id":"73956fcd.e47138","type":"http in","z":"1b6e4dca.46dac2","name":"","url":"/proxy/v1/workspaces/YOURWORKSPACEID/message","method":"post","swaggerDoc":"","x":288,"y":126,"wires":[["b9d8ebc1.718c2","10f5e44.bdcbd1c"]]},{"id":"7d5dda58.97f944","type":"http response","z":"1b6e4dca.46dac2","name":"","x":929.5000305175781,"y":219,"wires":[]},{"id":"21c6754f.0b5a32","type":"watson-conversation-v1","z":"1b6e4dca.46dac2","name":"Conversation","workspaceid":"YOURWORKSPACEID","multiuser":false,"context":true,"x":712.5000305175781,"y":219,"wires":[["7d5dda58.97f944","b9d8ebc1.718c2"]]},{"id":"b9d8ebc1.718c2","type":"debug","z":"1b6e4dca.46dac2","name":"","active":true,"console":"false","complete":"true","x":848.5000305175781,"y":124,"wires":[]},{"id":"10f5e44.bdcbd1c","type":"function","z":"1b6e4dca.46dac2","name":"","func":"//msg.payload=msg.payload.input.text;\nreturn msg;","outputs":1,"noerr":0,"x":501.5,"y":218,"wires":[["21c6754f.0b5a32","b9d8ebc1.718c2"]]},{"id":"65bcee44.c52e38","type":"http in","z":"1b6e4dca.46dac2","name":"","url":"/bot","method":"get","swaggerDoc":"","x":136.50003051757812,"y":335.9999694824219,"wires":[["7a7d9117.58a2a"]]},{"id":"7a7d9117.58a2a","type":"template","z":"1b6e4dca.46dac2","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<head>\n<title>IBM Watson Virtual Agent Chat Widget Sample</title>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0\" />\n<style>\n  html, body, iframe { width: 100%; height:100%; padding:0; margin:0; }\n  #ibm_chat_root { position:fixed; bottom:0; right: 20px; height: 80%; min-height:400px; width:300px; background:#000; }\n</style>\n</head>\n<body>\n<div id=\"ibm_chat_root\"></div>\n<iframe style=\"width:100%; height:100%\" src=\"YOUR FRAME URL/\"></iframe>\n<!--\nhttps://unpkg.com/@watson-virtual-agent/chat-widget@X.X.X/dist/chat.min.js for a specific version, where X.X.X is the semantic version of the chat widget.\nIn your production environment, we recommend locking down your widget version.\n-->\n<script src='https://unpkg.com/@watson-virtual-agent/chat-widget/dist/chat.min.js'></script>\n<script>\n  var config = {\n    el: 'ibm_chat_root',\n    baseURL: 'https://api.ibm.com/virtualagent/run/api/v1',\n    botID: 'YOURBOTID',\n    XIBMClientID: 'YOURCLIENTID',\n    XIBMClientSecret: 'YOURCLIENTSECRET'\n  };\n  window.IBMChat.init(config);\n</script>\n</body>\n</html>","x":365.5,"y":336.9999694824219,"wires":[["1b3c3d8.8186743"]]},{"id":"1b3c3d8.8186743","type":"http response","z":"1b6e4dca.46dac2","name":"","x":576.5000305175781,"y":336.9999694824219,"wires":[]},{"id":"fc61d8b7.a61e58","type":"http in","z":"1b6e4dca.46dac2","name":"","url":"/proxyhtml","method":"get","swaggerDoc":"","x":166.5,"y":447.9999694824219,"wires":[["36345ec0.bf40ea","7011f80f.8e672"]]},{"id":"88c9425.8af12c","type":"http response","z":"1b6e4dca.46dac2","name":"","x":652.5,"y":463.9999694824219,"wires":[]},{"id":"7011f80f.8e672","type":"debug","z":"1b6e4dca.46dac2","name":"","active":true,"console":"false","complete":"false","x":539.5,"y":551.9999694824219,"wires":[]},{"id":"36345ec0.bf40ea","type":"http request","z":"1b6e4dca.46dac2","name":"","method":"GET","ret":"txt","url":"YOURURL","tls":"","x":397.5,"y":447.9999694824219,"wires":[["7011f80f.8e672","88c9425.8af12c"]]}]