mybox-selected/oda-node-flow.txt
[{"id":"d913c31a.26ec4","type":"function","z":"62ace60f.9d5318","name":"Discard [ws] session & return JSON object","func":"// Discard session info from incoming websocket messages\n// so messages will be visible to all users (instances of app)\ndelete msg._session;\n\n// Input message (payload) is a JSON string.\n// We'll need to make it a JSON object in order to separate\n// user and message from the message.\nmsg.payload = JSON.parse(msg.payload);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":407,"y":815.0000610351562,"wires":[["b675f2a1.498a1","e484ba7c.1b7b48","7024b469.8fdb4c","9cbb79c5.634488"]]},{"id":"9daaf7e9.625508","type":"websocket in","z":"62ace60f.9d5318","name":"","server":"3f414834.c0beb8","client":"","x":97.49996948242188,"y":814.0000610351562,"wires":[["d913c31a.26ec4","9cc93b4c.6336c8"]]},{"id":"7024b469.8fdb4c","type":"websocket out","z":"62ace60f.9d5318","name":"","server":"3f414834.c0beb8","client":"","x":1303.166748046875,"y":815.0000915527344,"wires":[]},{"id":"9cc93b4c.6336c8","type":"debug","z":"62ace60f.9d5318","name":"","active":true,"console":"false","complete":"false","x":305.8333740234375,"y":771.3333740234375,"wires":[]},{"id":"c075a33d.3f8a6","type":"http in","z":"62ace60f.9d5318","name":"","url":"/voicechat","method":"get","swaggerDoc":"","x":101.5555419921875,"y":83.22216796875,"wires":[["c3d0a92b.3c2f58","98a1fcb3.675e"]]},{"id":"e8dc6a26.172398","type":"http response","z":"62ace60f.9d5318","name":"http response","x":552.5555419921875,"y":82.5555419921875,"wires":[]},{"id":"98a1fcb3.675e","type":"template","z":"62ace60f.9d5318","name":"Voice-chat application","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<head>\n  <meta name=\"viewport\" content=\"width=320, initial-scale=1\">\n  <title>Chat</title>\n</head>\n\n<body>\n  <div id=\"wrapper\">\n    <div id=\"chat_box\" class=\"content\"></div>\n\n    <div id=\"footer\">\n      <div class=\"content\">\n        <form onsubmit=\"sendMessage()\">\n        <input type=\"text\" id=\"user\" placeholder=\"Nimesi\" />\n        <input type=\"text\" id=\"message\" placeholder=\"Kysymyksesi\" onkeydown=\"keyPress(event)\"/>\n        <input type=\"button\" id=\"send_btn\" value=\"Lähetä\" onclick=\"sendMessage()\">\n        <input type=\"button\" id=\"mic\" value=\"Puhu\" onclick=\"startDictation()\" src=\"//i.imgur.com/cHidSVu.gif\"/>\n        </form>\n      </div>\n    </div>\n  </div>\n</body>\n\n<script type=\"text/javascript\">\n  var wsUri = \"ws://{{req.headers.host}}/ws/chat\";\n  var ws = new WebSocket(wsUri);\n\n  // Monitor key press in the message field\n  function keyPress(event)\n  {\n    if (!event) event = window.event; // needed for cross browser compatibility\n    if (event.keyCode === 13) sendMessage();\n   }\n\n  // Construct system message for the chat box\n  function createSystemMessage(message) {\n    var message = document.createTextNode(message);\n\n    var messageBox = document.createElement('p');\n    messageBox.className = 'system';\n\n    messageBox.appendChild(message);\n\n    var chat = document.getElementById('chat_box');\n    chat.appendChild(messageBox);\n  }\n\n  // Construct chat message for the chat box\n  function createUserMessage(username, message) {\n\n    var user = document.createTextNode(username + ': ');\n\n    var userBox = document.createElement('span');\n    userBox.className = 'username';\n\n    if (username === \"Dr. Watson\") {\n        userBox.innerHTML = '<img src=\"https://avatars0.githubusercontent.com/u/9221727?v=3&s=200\" height=\"40\"/>\\u00A0';\n    } else {\n        userBox.appendChild(user);\n    }\n\n    var message = document.createTextNode(message);\n\n    var messageBox = document.createElement('p');\n    messageBox.appendChild(userBox);\n    messageBox.appendChild(message);\n\n    var chat = document.getElementById('chat_box');\n    chat.appendChild(messageBox);\n  }\n\n  // Execute when websocket is opened\n  ws.onopen = function(ev) {\n    createSystemMessage('[Yhteydessä]');\n//    sendMessage();\n  };\n\n  // Execute when websocket is closed\n  ws.onclose = function(ev) {\n    createSystemMessage('[Ei yhteydessä]');\n  }\n\n  // Execute when message is received in websocket\n  ws.onmessage = function(ev) {\n    var payload = JSON.parse(ev.data);\n    createUserMessage(payload.user, payload.message);\n\n    var chat = document.getElementById('chat_box');\n    chat.scrollTop = chat.scrollHeight;\n    window.scrollTo(0,document.body.scrollHeight);\n  }\n\n  // Pick up values from user and message fields and send the message\n  function sendMessage() {\n    var user = document.getElementById('user');\n    if (!user.value) user.value = \"Anonyymi\";\n    \n    var message = document.getElementById('message');\n\n    var payload = {\n      message: message.value,\n      user: user.value,\n      ts: (new Date()).getTime()\n    };\n\n    ws.send(JSON.stringify(payload));\n    message.value = \"\";\n  };\n  \n  // HTML5 Speech Recognition API\n  function startDictation() {\n\n    if (window.hasOwnProperty('webkitSpeechRecognition')) {\n\n      var recognition = new webkitSpeechRecognition();\n\n      recognition.continuous = true;\n      recognition.interimResults = false;\n\n      recognition.lang = \"fi-FI\";\n      recognition.start();\n\n      recognition.onresult = function(e) {\n        document.getElementById('message').value\n                                 = e.results[0][0].transcript;\n        recognition.stop();\n        sendMessage()\n      };\n      sendMessage();\n\n      recognition.onerror = function(e) {\n        recognition.stop();\n      }\n    }\n  }\n\n</script>\n\n<style type=\"text/css\">\n  * {\n    font-family: \"Palatino Linotype\", \"Book Antiqua\", Palatino, serif;\n    font-style: italic;\n    font-size: 24px;\n  }\n\n  html, body, #wrapper {\n    margin: 0;\n    padding: 0;\n    height: 100%;\n  }\n\n  #wrapper {\n    background-color: #ecf0f1;\n  }\n\n  #chat_box {\n    box-sizing: border-box;\n    height: 90%;\n    overflow: auto;\n    padding-bottom: 50px;\n  }\n\n  #footer {\n    box-sizing: border-box;\n    position: fixed;\n    bottom: 0;\n    height: 100px;\n    width: 100%;\n    background-color: #2980b9;\n  }\n\n  #footer .content {\n    padding-top: 4px;\n    position: relative;\n  }\n\n  #user { width: 20%; }\n  #message { width: 68%; }\n  #send_btn {\n    width: 10%;\n    position: absolute;\n    right: 0;\n    bottom: 0;\n    margin: 0;\n  }\n  #mic {\n    width: 10%;\n    position: absolute;\n    right: 100;\n    bottom: 0;\n    margin: 0;\n  }\n\n  .content {\n    width: 70%;\n    margin: 0 auto;\n  }\n\n  input[type=\"text\"],\n  input[type=\"button\"] {\n    border: 0;\n    color: #fff;\n  }\n\n  input[type=\"text\"] {\n    background-color: #146EA8;\n    padding: 3px 10px;\n  }\n\n  input[type=\"button\"] {\n    background-color: #f39c12;\n    border-right: 2px solid #e67e22;\n    border-bottom: 2px solid #e67e22;\n    min-width: 70px;\n    display: inline-block;\n  }\n\n  input[type=\"button\"]:hover {\n    background-color: #e67e22;\n    border-right: 2px solid #f39c12;\n    border-bottom: 2px solid #f39c12;\n    cursor: pointer;\n  }\n\n  .system,\n  .username {\n    color: #aaa;\n    font-style: italic;\n    font-family: monospace;\n    font-size: 16px;\n  }\n\n//  .speech {border: 1px solid #DDD; width: 300px; padding: 0; margin: 0}\n//  .speech input {border: 0; width: 240px; display: inline-block; height: 30px;}\n//  .speech img {float: right; width: 40px }\n\n  @media(max-width: 1000px) {\n    .content { width: 90%; }\n  }\n\n  @media(max-width: 780px) {\n    #footer { height: 182px; }\n    #chat_box { padding-bottom: 182px; }\n\n    #user { width: 100%; }\n    #message { width: 80%; }\n  }\n\n  @media(max-width: 400px) {\n    #footer { height: 135px; }\n    #chat_box { padding-bottom: 135px; }\n\n    #message { width: 100%; }\n    #send_btn {\n      position: relative;\n      margin-top: 3px;\n      width: 100%;\n    }\n  }\n</style>\n","x":313.72216796875,"y":82.55548095703125,"wires":[["e8dc6a26.172398"]]},{"id":"c3d0a92b.3c2f58","type":"debug","z":"62ace60f.9d5318","name":"","active":false,"console":"false","complete":"false","x":284.72222900390625,"y":127.888916015625,"wires":[]},{"id":"34197d85.cbe682","type":"function","z":"62ace60f.9d5318","name":"Chat reply","func":"// Compose output message to be sent to websocket\n\n//var response = msg.payload.output.text[0];\n//var response = msg.payload.output.text.join(\"<br />\")\nvar response = msg.payload.output.text.join(\"\\n\")\n\nvar message = {\n    message: response,\n    user: \"Dr. Watson\"\n};\n\n\n// Send output message content (payload) as JSON string (not as JSON object)\nreturn {payload: JSON.stringify(message)};\n\n//return msg;","outputs":1,"noerr":0,"x":1112.55517578125,"y":874.5556030273438,"wires":[["8c9aabc5.736558","7024b469.8fdb4c"]]},{"id":"3c8c6b53.c37394","type":"debug","z":"62ace60f.9d5318","name":"","active":true,"console":"false","complete":"true","x":539.2777099609375,"y":932.111083984375,"wires":[]},{"id":"66e6df19.99192","type":"watson-conversation-v1","z":"62ace60f.9d5318","name":"Hengitystietulehdus","workspaceid":"d22b4810-0aae-4e2b-b38d-1f5a61cea14a","multiuser":true,"context":true,"x":798.8492431640625,"y":874.4603271484375,"wires":[["4193e88c.be6c18","34197d85.cbe682","c3319017.3cce7"]]},{"id":"4193e88c.be6c18","type":"debug","z":"62ace60f.9d5318","name":"","active":true,"console":"false","complete":"true","x":949.611083984375,"y":953.77783203125,"wires":[]},{"id":"8c9aabc5.736558","type":"debug","z":"62ace60f.9d5318","name":"","active":false,"console":"false","complete":"true","x":1283.27783203125,"y":873.77783203125,"wires":[]},{"id":"dc6ea291.23916","type":"http in","z":"62ace60f.9d5318","name":"/post (iOS etc)","url":"/post","method":"post","swaggerDoc":"","x":850.9583740234375,"y":763.9584350585938,"wires":[["afa994f6.505668","51b7fd27.ae4804"]]},{"id":"afa994f6.505668","type":"function","z":"62ace60f.9d5318","name":"use alt_message with topic","func":"// Compose output message to be sent to websocket\nvar response = msg.payload.outText;\nvar user = msg.payload.user||\"Anonyymi\";\n\nvar message = {\n    message: response,\n    user: user\n};\n\n\n// Send output message content (payload) as JSON string (not as JSON object)\nreturn {payload: JSON.stringify(message)};\n\n//return msg;","outputs":1,"noerr":0,"x":1065.0653076171875,"y":762.9822998046875,"wires":[["7024b469.8fdb4c"]]},{"id":"51b7fd27.ae4804","type":"debug","z":"62ace60f.9d5318","name":"","active":false,"console":"false","complete":"false","x":1015.5,"y":723.0001220703125,"wires":[]},{"id":"ba09c5c.f45f638","type":"play audio","z":"62ace60f.9d5318","name":"","voice":"49","x":1304,"y":922,"wires":[]},{"id":"b675f2a1.498a1","type":"debug","z":"62ace60f.9d5318","name":"","active":false,"console":"false","complete":"false","x":667.5,"y":768.0000610351562,"wires":[]},{"id":"c3319017.3cce7","type":"function","z":"62ace60f.9d5318","name":"Voice reply","func":"// Compose output message to be sent to websocket\n\n//var response = msg.payload.output.text[0];\n//var response = msg.payload.output.text.join(\"<br />\")\nmsg.payload = msg.payload.output.text.join(\"\\n\")\n\n/*\nvar message = {\n    message: response,\n    user: \"Dr. Watson\"\n};\n*/\n\n// Send output message content (payload) as JSON string (not as JSON object)\n//return {payload: JSON.stringify(message)};\n\nreturn msg;","outputs":1,"noerr":0,"x":1113,"y":922,"wires":[["ba09c5c.f45f638"]]},{"id":"23d92cea.dc26d4","type":"template","z":"62ace60f.9d5318","name":"Chat application","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<head>\n  <meta name=\"viewport\" content=\"width=320, initial-scale=1\">\n  <title>Chat</title>\n</head>\n\n<body>\n  <div id=\"wrapper\">\n    <div id=\"chat_box\" class=\"content\"></div>\n\n    <div id=\"footer\">\n      <div class=\"content\">\n        <form onsubmit=\"sendMessage()\">\n        <input type=\"text\" id=\"user\" placeholder=\"Nimesi\" />\n        <input type=\"text\" id=\"message\" placeholder=\"Kysymyksesi\" onkeydown=\"keyPress(event)\"/>\n        <input type=\"button\" id=\"send_btn\" value=\"Lähetä\" onclick=\"sendMessage()\">\n        </form>\n      </div>\n    </div>\n  </div>\n</body>\n\n<script type=\"text/javascript\">\n  var wsUri = \"ws://{{req.headers.host}}/ws/chat\";\n  var ws = new WebSocket(wsUri);\n\n  // Monitor key press in the message field\n  function keyPress(event)\n  {\n    if (!event) event = window.event; // needed for cross browser compatibility\n    if (event.keyCode === 13) sendMessage();\n   }\n\n  // Construct system message for the chat box\n  function createSystemMessage(message) {\n    var message = document.createTextNode(message);\n\n    var messageBox = document.createElement('p');\n    messageBox.className = 'system';\n\n    messageBox.appendChild(message);\n\n    var chat = document.getElementById('chat_box');\n    chat.appendChild(messageBox);\n  }\n\n  // Construct chat message for the chat box\n  function createUserMessage(username, message) {\n\n    var user = document.createTextNode(username + ': ');\n\n    var userBox = document.createElement('span');\n    userBox.className = 'username';\n\n    if (username === \"Dr. Watson\") {\n        userBox.innerHTML = '<img src=\"https://avatars0.githubusercontent.com/u/9221727?v=3&s=200\" height=\"40\"/>\\u00A0';\n    } else {\n        userBox.appendChild(user);\n    }\n\n    var message = document.createTextNode(message);\n\n    var messageBox = document.createElement('p');\n    messageBox.appendChild(userBox);\n    messageBox.appendChild(message);\n\n    var chat = document.getElementById('chat_box');\n    chat.appendChild(messageBox);\n  }\n\n  // Execute when websocket is opened\n  ws.onopen = function(ev) {\n    createSystemMessage('[Yhteydessä]');\n  };\n\n  // Execute when websocket is closed\n  ws.onclose = function(ev) {\n    createSystemMessage('[Ei yhteydessä]');\n  }\n\n  // Execute when message is received in websocket\n  ws.onmessage = function(ev) {\n    var payload = JSON.parse(ev.data);\n    createUserMessage(payload.user, payload.message);\n\n    var chat = document.getElementById('chat_box');\n    chat.scrollTop = chat.scrollHeight;\n    window.scrollTo(0,document.body.scrollHeight);\n  }\n\n  // Pick up values from user and message fields and send the message\n  function sendMessage() {\n    var user = document.getElementById('user');\n    if (!user.value) user.value = \"Anonyymi\";\n    \n    var message = document.getElementById('message');\n\n    var payload = {\n      message: message.value,\n      user: user.value,\n      ts: (new Date()).getTime()\n    };\n\n    ws.send(JSON.stringify(payload));\n    message.value = \"\";\n  };\n</script>\n\n<style type=\"text/css\">\n  * {\n    font-family: \"Palatino Linotype\", \"Book Antiqua\", Palatino, serif;\n    font-style: italic;\n    font-size: 24px;\n  }\n\n  html, body, #wrapper {\n    margin: 0;\n    padding: 0;\n    height: 100%;\n  }\n\n  #wrapper {\n    background-color: #ecf0f1;\n  }\n\n  #chat_box {\n    box-sizing: border-box;\n    height: 90%;\n    overflow: auto;\n    padding-bottom: 50px;\n  }\n\n  #footer {\n    box-sizing: border-box;\n    position: fixed;\n    bottom: 0;\n    height: 50px;\n    width: 100%;\n    background-color: #2980b9;\n  }\n\n  #footer .content {\n    padding-top: 4px;\n    position: relative;\n  }\n\n  #user { width: 20%; }\n  #message { width: 68%; }\n  #send_btn {\n    width: 10%;\n    position: absolute;\n    right: 0;\n    bottom: 0;\n    margin: 0;\n  }\n\n  .content {\n    width: 70%;\n    margin: 0 auto;\n  }\n\n  input[type=\"text\"],\n  input[type=\"button\"] {\n    border: 0;\n    color: #fff;\n  }\n\n  input[type=\"text\"] {\n    background-color: #146EA8;\n    padding: 3px 10px;\n  }\n\n  input[type=\"button\"] {\n    background-color: #f39c12;\n    border-right: 2px solid #e67e22;\n    border-bottom: 2px solid #e67e22;\n    min-width: 70px;\n    display: inline-block;\n  }\n\n  input[type=\"button\"]:hover {\n    background-color: #e67e22;\n    border-right: 2px solid #f39c12;\n    border-bottom: 2px solid #f39c12;\n    cursor: pointer;\n  }\n\n  .system,\n  .username {\n    color: #aaa;\n    font-style: italic;\n    font-family: monospace;\n    font-size: 16px;\n  }\n\n  @media(max-width: 1000px) {\n    .content { width: 90%; }\n  }\n\n  @media(max-width: 780px) {\n    #footer { height: 91px; }\n    #chat_box { padding-bottom: 91px; }\n\n    #user { width: 100%; }\n    #message { width: 80%; }\n  }\n\n  @media(max-width: 400px) {\n    #footer { height: 135px; }\n    #chat_box { padding-bottom: 135px; }\n\n    #message { width: 100%; }\n    #send_btn {\n      position: relative;\n      margin-top: 3px;\n      width: 100%;\n    }\n  }\n</style>\n","x":294,"y":249,"wires":[["6790efda.986f1"]]},{"id":"e484ba7c.1b7b48","type":"function","z":"62ace60f.9d5318","name":"Prepare message for Conversation","func":"// Do not process messages sent by Conversation (avoid loopback issue) \nif (msg.payload.user === \"Dr. Watson\"){\n    return;\n}\n\n// There is no context yet, continue with initial conversation\nif (!msg.payload.context){\n    msg.contextClass = 0;\n} else {\n    // There is context -> Form message according to it's context\n    msg.contextClass = msg.payload.context.class;\n    msg.payload = msg.payload.message.text;\n    msg.user = msg.payload.user;\n    return msg;\n}\n\n// Prepare message for conversation\nvar message = msg.payload.message;\nvar user = msg.payload.user;\nmsg.payload = message;\nmsg.user = user;\n\n// Output to Conversation\nreturn msg;","outputs":1,"noerr":0,"x":402,"y":875.0000915527344,"wires":[["66e6df19.99192","3c8c6b53.c37394"]]},{"id":"569c35a3.a963cc","type":"function","z":"62ace60f.9d5318","name":"translated","func":"return {\"topic\": \"\", \"payload\": msg.payload.text};","outputs":1,"noerr":0,"x":736,"y":519.5505981445312,"wires":[["f8788c7e.07877","edb04313.124fc"]]},{"id":"285edd5e.d7a122","type":"http in","z":"62ace60f.9d5318","name":"","url":"/translated","method":"post","swaggerDoc":"","x":557.756103515625,"y":519.2619018554688,"wires":[["569c35a3.a963cc"]]},{"id":"f8788c7e.07877","type":"watson-tone-analyzer-v3","z":"62ace60f.9d5318","name":"tone","tones":"all","sentences":"true","contentType":"false","x":878.5,"y":557,"wires":[["33135c3a.cceca4","b48ee0cc.4b712"]]},{"id":"a011e916.5fee18","type":"debug","z":"62ace60f.9d5318","name":"","active":false,"console":"false","complete":"true","x":521.5,"y":430,"wires":[]},{"id":"9cbb79c5.634488","type":"function","z":"62ace60f.9d5318","name":"translate (CONFIGURE!)","func":"// Do not translate Dr. Watson's responses\nif (msg.payload.user === \"Dr. Watson\"){\n    return;\n}\n\n// Prepare message to translate user input from fi to en\nmsg.headers = { \"content-type\": \"application/json; charset=utf-8\" };\n// On below, make sure you enter this Node-RED's host name for returning post\nmsg.payload = { \"lang\":\"fi\", \"text\":msg.payload.message, \"host\":\"oda-node.mybluemix.net\" };\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":392,"wires":[["ca25f034.35da1","a011e916.5fee18"]]},{"id":"ca25f034.35da1","type":"http request","z":"62ace60f.9d5318","name":"http post (CONFIGURE!)","method":"POST","ret":"txt","url":"http://jr-node-translate.mybluemix.net/translate","tls":"","x":580.6187133789062,"y":391.69049072265625,"wires":[["6ba3a405.945c5c"]]},{"id":"abb0dd2.f544f2","type":"ui_gauge","z":"62ace60f.9d5318","name":"","group":"b4163c71.4be9c","order":0,"width":0,"height":0,"gtype":"gage","title":"Samanmielisyys","label":"units","format":"{{value}}","min":0,"max":"1","colors":["#CA3838","#E6E600","#00B500"],"seg1":"","seg2":"","x":1249.5,"y":557,"wires":[]},{"id":"33135c3a.cceca4","type":"debug","z":"62ace60f.9d5318","name":"","active":false,"console":"false","complete":"true","x":1021,"y":602,"wires":[]},{"id":"b48ee0cc.4b712","type":"function","z":"62ace60f.9d5318","name":"Agreeableness","func":"var tone = msg.response.document_tone.tone_categories[2].tones[3].score;\nmsg.topic = \"Samanmielisyys\";\nmsg.payload = tone;\nreturn msg;","outputs":1,"noerr":0,"x":1049.5,"y":557,"wires":[["abb0dd2.f544f2","df477d72.20b88"]]},{"id":"edb04313.124fc","type":"sentiment","z":"62ace60f.9d5318","name":"","x":889.5,"y":470,"wires":[["3da7bf48.c2584","fe4756ea.01b8a8"]]},{"id":"3da7bf48.c2584","type":"function","z":"62ace60f.9d5318","name":"Sentiment","func":"var tone = msg.sentiment.score;\nmsg.topic = \"Sentimentti\";\nmsg.payload = tone;\nreturn msg;","outputs":1,"noerr":0,"x":1037,"y":471,"wires":[["f783ce87.087c3","df477d72.20b88"]]},{"id":"f783ce87.087c3","type":"ui_gauge","z":"62ace60f.9d5318","name":"","group":"b4163c71.4be9c","order":0,"width":0,"height":0,"gtype":"gage","title":"Sentimentti","label":"units","format":"{{value}}","min":"-10","max":"10","colors":["#CA3838","#E6E600","#00B500"],"seg1":"","seg2":"","x":1239,"y":471,"wires":[]},{"id":"fe4756ea.01b8a8","type":"debug","z":"62ace60f.9d5318","name":"","active":false,"console":"false","complete":"true","x":1017,"y":508,"wires":[]},{"id":"84f1b498.7b0e48","type":"http in","z":"62ace60f.9d5318","name":"","url":"/chat","method":"get","swaggerDoc":"","x":86,"y":250,"wires":[["23d92cea.dc26d4","a63c253.f59c3d8"]]},{"id":"6790efda.986f1","type":"http response","z":"62ace60f.9d5318","name":"http response","x":549,"y":250,"wires":[]},{"id":"a63c253.f59c3d8","type":"debug","z":"62ace60f.9d5318","name":"","active":false,"console":"false","complete":"false","x":283.5,"y":293,"wires":[]},{"id":"e7402779.18bfd8","type":"comment","z":"62ace60f.9d5318","name":"Chat UI with speech support","info":"","x":335.5,"y":44,"wires":[]},{"id":"33a72bcf.cc58d4","type":"comment","z":"62ace60f.9d5318","name":"Basic chat UI","info":"","x":282,"y":208,"wires":[]},{"id":"6ba3a405.945c5c","type":"debug","z":"62ace60f.9d5318","name":"","active":false,"console":"false","complete":"false","x":801.5,"y":391,"wires":[]},{"id":"4f7d8006.b0828","type":"comment","z":"62ace60f.9d5318","name":"Send [fi] message to translation","info":"","x":599.5,"y":350,"wires":[]},{"id":"7afbe3e6.85041c","type":"comment","z":"62ace60f.9d5318","name":"Get translated [en] message","info":"","x":598,"y":479,"wires":[]},{"id":"59d7f34a.a6280c","type":"comment","z":"62ace60f.9d5318","name":"websocket in","info":"","x":94.5,"y":764,"wires":[]},{"id":"c313c570.3cec38","type":"comment","z":"62ace60f.9d5318","name":"websocket out","info":"","x":1314,"y":767,"wires":[]},{"id":"584df41c.a7b20c","type":"comment","z":"62ace60f.9d5318","name":"External user input (e.g. iOS app)","info":"","x":936,"y":683,"wires":[]},{"id":"df477d72.20b88","type":"ui_chart","z":"62ace60f.9d5318","name":"","group":"b4163c71.4be9c","order":0,"width":0,"height":0,"label":"Historia","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"-10","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"x":1230.5,"y":517,"wires":[[],[]]},{"id":"47e581de.b81a8","type":"ui_slider","z":"62ace60f.9d5318","name":"","label":"Kiihtyneisyys","group":"825baa9d.7da458","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"1","step":"0.1","x":1234.5,"y":252,"wires":[[]]},{"id":"94366c5a.6bc99","type":"ui_slider","z":"62ace60f.9d5318","name":"","label":"Joustamattomuus","group":"825baa9d.7da458","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"1","step":"0.1","x":1254,"y":290,"wires":[[]]},{"id":"12e92505.ed16db","type":"comment","z":"62ace60f.9d5318","name":"Personality display","info":"","x":1254.5,"y":211,"wires":[]},{"id":"de7cc8bd.218338","type":"comment","z":"62ace60f.9d5318","name":"Add [Personality Insights] service here","info":"","x":990.5,"y":252,"wires":[]},{"id":"60b25d0d.9f4da4","type":"ui_slider","z":"62ace60f.9d5318","name":"","label":"Ekstroverttisuus","group":"825baa9d.7da458","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"1","step":"0.1","x":1245,"y":330,"wires":[[]]},{"id":"55b43c50.aa4bc4","type":"ui_slider","z":"62ace60f.9d5318","name":"","label":"Emotionaalisuus","group":"825baa9d.7da458","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"1","step":"0.1","x":1245,"y":364,"wires":[[]]},{"id":"8aab6da2.75549","type":"ui_slider","z":"62ace60f.9d5318","name":"","label":"Suorapuheisuus","group":"825baa9d.7da458","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"1","step":"0.1","x":1247,"y":400,"wires":[[]]},{"id":"3f414834.c0beb8","type":"websocket-listener","z":"","path":"/ws/chat","wholemsg":"false"},{"id":"b4163c71.4be9c","type":"ui_group","z":"","name":"Sentimentti","tab":"c3e6dab2.3c1928","disp":true,"width":"6"},{"id":"825baa9d.7da458","type":"ui_group","z":"","name":"Persoonallisuus","tab":"c3e6dab2.3c1928","disp":true,"width":"6"},{"id":"c3e6dab2.3c1928","type":"ui_tab","z":"","name":"ODA","icon":"dashboard"}]